@import url('https://fonts.googleapis.com/css2?family=Galada&family=Hind+Siliguri:wght@600&display=swap');

.nav-bar {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-top: 1px solid rgb(201, 201, 201);
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}

.nav-bar > div {
  display: flex;
  flex-direction: row;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 600;
}

.nav-bar-left {
  height: 63px;
  border-right: 1px solid rgb(201, 201, 201);
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 30px;
}

.search-bar {
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar > span {
  margin-left: 20px;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
  color: #777777;
}

.search-image {
  margin-left: 20px;
  height: 40%;
  opacity: 0.4;
}

.logo {
  display:flex;
  align-items: center;
  font-family: 'Galada', cursive;
  text-decoration: none;
  font-size: 24px;
  color: #e33d26;
  transform:translateY(4px);
  padding-left: 6px;
}

.logo-image {
  width: 130px;
  padding-left: 8px;
  transform:translateY(-2px);
}

.your-page {
  margin-right: 18px;
  text-decoration: none;
  color: #474747;
  font-size: 13px;
}

.your-page-button {
  border: none;
  color: #474747;
  font-size: 13px;
  text-decoration: none;
  margin-right: 18px;
  background: none;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 600;
}

/* .button-recipe-page {
  border: none;
  color: white;
  background: #e33d26;
  display:flex;
  align-items: center;
  height: 35px;
  font-size: 14px;
  border-radius: 4px;
  width: 180px;
  position: absolute;
  top: 0px;
  left: 820px;
} */

.your-page-box {
  margin-right: 22px;
  text-decoration: none;
  color: #e33d26;
  font-size: 13px;
  text-align:center;
}

#recipe-box-button {
  width: 150px;
  text-align: center;
}

.home {
  display: flex;
  flex-direction:column;
}

.nav-bar-height {
  height: 63px;
}