.nav-bar {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}

.logo {
  font-size: 30px;
}

.button {
  margin-right: 10px;
}

#recipe-box-button {
  width: 150px;
  text-align: center;
}