.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.session-form-popup {
  background: white;
  width: 900px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.session-form-left {
  background: rgb(35, 37, 44);
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.session-form-left > h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 400px;
  padding-top: 30px;
}

.session-form-right {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-form-right > form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
}

.session-form-right > form label {
  padding-bottom: 10px;
}

.session-form-right Link {
  padding-top: 10px;
}

.exit-button {
  position: absolute;
  top: 10px;
  left: 880px;
}