@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Galada&family=Hind+Siliguri:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

.recipe {
  width: 1000px;
  margin: 20px auto;
  background: white;
}

.recipe-heading {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content:space-evenly;
  color: black;
}

.recipe-heading span {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.recipe-heading .recipe-author-name {
  text-decoration:underline;
}

.recipe-heading > h1 {
  font-size: 40px;
  font-family: 'Cardo', serif;
  font-weight: 300px;
  color: #444444;
}

.recipe-intro {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
}

.recipe-intro-facts {
  position: relative;
  margin-bottom: 20px;
}

.recipe-intro-fact-value {
  font-family: 'Hind Siliguri';
  font-size: 13px;
}

.recipe-intro-fact-key {
  font-family: 'Bevan', cursive;
  font-size: 12px;
  color: #555555;
  padding-right: 10px;
}


.recipe-intro-description {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  font-family: 'Cardo', serif;
  font-weight: 700;
  line-height: 1.5;
}

.recipe-intro-description > img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.recipe-intro-description > h3 {
  padding-right: 50px;
}

.recipe-cat-rat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0px;
}

.recipe-cat-rat > span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recipe-categories {
  display: flex;
  flex-direction: row;
}

.recipe-categories span {
  color: #e33d26;
  font-family: 'Hind Siliguri';
}

.recipe-cat-rat-br {
  border: 1px solid black;
}

.recipe-instructions {
  display: flex;
  flex-direction: row;
}

.recipe-instruction {
  display: flex;
  flex-direction: row;
}

.recipe-ingredient-label {
  font-family: 'Bevan', cursive;
  font-size: 12px;
  color: #555555;
  padding-top: 60px;
  padding-bottom: 30px;
}

.recipe-preparation-label {
  font-family: 'Bevan', cursive;
  font-size: 12px;
  color: #555555;
  padding-top: 60px;
  padding-bottom: 30px;
}

.recipe-preparations h2 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}

.recipe-preparations li {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
  line-height: 1.5;
}

.recipe-ingredients {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 14px;
  font-weight: 600;
  transform:translateX(-20px);
}

.recipe-ingredients > li {
  display: flex;
  flex-direction: row;
  width: 400px;
  padding-bottom: 20px
}

.ingredient-quantity {
  width: 100px;
  text-align:right;
  padding-right: 10px;
}

.ingredient-details {
  width: 300px;
  text-align:left;
  padding-right: 30px;
}

.recipe-comments {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.recipe-comments-filler {
  width: 400px;
}

.recipe-comment-list {
  width: 600px;
}

.comment-container {
  margin: 30px 0px;
}

.button-recipe-page {
  border: none;
  color: white;
  background: #e33d26;
  display:flex;
  align-items: center;
  height: 35px;
  font-size: 14px;
  border-radius: 4px;
  width: 180px;
  position: absolute;
  top: 0px;
  left: 820px;
}

.button-image-recipe-page {
  width: 17px;
  filter: invert(1);
  padding-left: 5px;
}

.button-recipe-page:hover {
  background: #c43420;
}

.saved-ingredients {
  margin: 20px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.saved-ingredients > h3 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 15px;
}

.saved-ingredients > button {
  border: none;
  color: #e33d26;
  font-size: 15px;
  text-decoration: none;
  margin-right: 18px;
  background: none;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 600;
}

.saved-ingredients > button:hover {
  color: #ac2e1e;
}

.save-ingredients {
  margin: 20px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.save-ingredients > button {
  border: 1px solid #b7b7b7;
  border-radius: 15px;
  height: 30px;
  background: none;
  color: #666666;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.save-ingredients > button:hover {
  background: #f1f1f1
}

.rating-form label {
  transition: color 0.25s;
}

.rating-form input {
  display: none;
}

.rating-form i {
  font-size: 18px;
  color: #e33d26;
}

.rating-form i:hover {
  color: #fcb545;
}


.rating-form-user label {
  transition: color 0.25s;
}

.rating-form-user input {
  display: none;
}

.rating-form-user i {
  font-size: 18px;
  color: #fcb545;
}

.rating-form-user i:hover {
  color: #fcb545;
}