.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 260px;
}
.about-us {
  width: 960px;
  transform:translateX(10px);
  padding-top: 30px;
}
.about-us-text > h3 {
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
  padding-bottom: 30px;
}

.about-us-text > h3 > span {
  color: white;
  font-size: 18px;
  font-family: 'Cardo', serif;
  font-weight: 400;
}
.about-us-text > h3 > span > a{
  color: #e33d26;
  text-decoration:underline;
  font-family: 'Cardo', serif;
  font-weight: 400;
}

.footnote {
  width: 960px;
  transform:translateX(10px);
  color: rgb(155, 155, 155);
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 14px;
  padding-top: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
}

.josh-profile {
  width: 960px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.profile-icons {
  transform: translateY(15px);
}

.profile-icons > span {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 15px;
  color: #222222;
}

.profile-icons > div {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-top: 7px;
}

.icons-png {
  width: 40px;
}

.profile-description {
  width: 550px;
  transform:translateX(10px);
}

.profile-description > h1 {
  color: #222222;
  font-family: 'Cardo', serif;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 400;
}

.profile-description > span {
  color: #5e5d5d;
  font-family: 'Hind Siliguri', sans-serif;
  padding-top: 30px;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 14px;
}

.profile-description > span > span > a {
  color: #e33d26;
  text-decoration:underline;
  font-family: 'Hind Siliguri', sans-serif;
  line-height: 1.5;
  font-size: 14px;
}